extends index

block home
  #homeView.view
  #homeHeader.header
    #mainTitle PastorCare
    .menuIcon.icon
  #mainButtons
    #logBookIcon.mainIcon.icon
    #directoryIcon.mainIcon.icon
    #newNoteIcon.mainIcon.icon
    #newParIcon.mainIcon.icon