extends index

block note
  #noteView.view.off
    #noteHeader.header
      #noteTitle New Note
      #noteSave.saveIcon.icon
      .menuIcon.icon
    #noteEditor
    #noteTextGroup.textGroup
      #noteParText.textInput
        ion-icon(name='person')
        input(type='text' autocomplete="off" value="Attach to Parishioner")#parInput.noteInput
        #parAutocomplete.autocomplete
      #noteTagText.textInput
        ion-icon(name='category')
        input(type='text' autocomplete="off" value="Tags")#tagInput.noteInput
        #catAutocomplete.autocomplete
      #noteDateText.textInput
        ion-icon(name='calendar')
        input(type='text' autocomplete="off" value="Date")#noteDateInput.noteInput
    #noteCheckGroup
      #emailSelf
        input(type='checkbox')
        div Email to Myself
      #prayerRequest
        input(type='checkbox')
        div Send as prayer request
      #nextDay
        input(type='checkbox')
        div Next day reminder
      #nextMonday
        input(type='checkbox')
        div Next Monday reminder
      #interaction
        input(type='checkbox')
        div Log as interaction
      #addToBio
        input(type='checkbox')
        div Add to bio